/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：传美打印
 2. 文件名称：manage/templateSettings.less (模板设置)
 3. 作者：KingsleyYu
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@import "../mixins.less";
@import "../variables.less";

.content {
    .caption {
        border-bottom: 1px solid #bbbbbb;
        padding-left: 20px;
        height: 55px;
        h3 {
            .inline-block();
            margin-right: 25px;
        }
        a {
            margin-right: 10px;
        }
    }
    .template-data {
        padding-left: 40px;
        padding-top: 20px;
        table {
            width: 100%;
            font-size: 14px;
            text-align: center;
            border: 1px solid #000;
            tr {
                height: 30px;
            }
            td {
                border: 1px solid #000;
                &.name {
                    width: 20%
                }
                &.op {
                    width: 40%;
                }
            }
        }
    }
}
