/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：传美打印
 2. 文件名称：相关页面组建
 3. 作者：KingsleyYu
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*按钮*/

.btn-search {
    background-color: #77c86a;
    color: #fff !important;
}

.arrow,
.arrow i {
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 10px solid #ccc;
    position: absolute;
    left: 50%;
    top: 48px;
    margin-left: -10px;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    _border-left-style: dotted;
    _border-right-style: dotted;
}

.arrow i {
    top: 1px;
    border-bottom-color: #fff;
}



